.studio-navbar-container {
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--unique-video-card-bg);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 100px;
  z-index: 1000;

  .studio-navbar-button {
    padding: 8px 20px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;

    p {
      padding: 0;
      margin: 0;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .studio-navbar-button__active {
    background-color: #4a90e2;
    color: white;
    border: none;
  }
}
